.container {
  padding-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

@media (max-width: 1400px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
  }
}